{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
{% include "/elements/navigation.twig" %}
<hr>
{% include "/elements/admin_left_column.twig" %}
<h1>学生向けメッセージ配信</h1>
<div class="container two-column">
    <div class="row">
        <div class="col-sm-9 content">
            {% if error_message |length > 0 %}
            <p>{{error_message}}</p>
            {% endif %}
            <form action="/admin/send_message/to_student_confirm" method="post" id="form_to_student_confirm">
                <!-- 学生 -->
                <div class="form-group">
                    <select name="student_id">
                        <option value="all">全員</option>
                        {% for student_data in student_data_list %}
                        {% if student_data["user_id"] == input["student_id"] %}
                        <option value="{{student_data['user_id']}}" selected>{{student_data["user_id"]}}&nbsp;{{student_data["user_name"]}}</option>
                        {% else %}
                        <option value="{{student_data['user_id']}}">{{student_data["user_id"]}}&nbsp;{{student_data["user_name"]}}</option>
                        {% endif %}
                        {% endfor %}
                        {% for user_group_data in user_group_data_list %}
                        <!-- TODO: fix -->
                        {% if user_group_data["user_id"] == input["student_id"] %}
                        <!-- /TODO -->
                        <option value="{{user_group_data['user_id']}}" selected>{{user_group_data["user_id"]}}&nbsp;{{user_group_data["user_group_name"]}}</option>
                        {% else %}
                        <option value="{{user_group_data['user_id']}}">{{user_group_data["user_id"]}}&nbsp;{{user_group_data["user_group_name"]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- /学生 -->
                <!-- 本文 -->
                <div class="form-group">
                    <label for="">本文 (必須)</label>
                    <textarea class="form-control" cols="40" rows="20" name="message_content">{{input["message_content"]}}</textarea>
                </div>
                <!-- /本文 -->
                <!-- メール送信 -->
                <label><input type="radio" name="is_send_mail" value="true">&nbsp;メールを送信する</label>
                <!-- /メール送信 -->
                <div class="btn-wrapper update">
                    <input class="btn btn-green" id="submit_message_to_student" type="submit" value="メッセージを送信する">
                </div>
                <input type="hidden" name="_token" id="csrf_token" value="{{csrf_token}}">
            </form>
        </div>
    </div>
</div>
<input type="hidden" id="active_menu" value="8">
{% endblock %}
