{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
{% include "/elements/navigation.twig" %}
<div class="container two-column">
    <div class="row">
        {% include "/elements/admin_left_column.twig" %}
        <div class="col-sm-9 content">
            {% if caliculam_data |length > 0 %}
            <h1>カリキュラム編集ページ</h1>
            {% else %}
            <h1>カリキュラム作成ページ</h1>
            {% endif %}
            <form action="/admin/caliculam/confirm" enctype="multipart/form-data" method="POST">
                <!-- サムネイル画像 -->
                <div class="row input-area">
                    <div class="col-sm-4">
                        <label for="">サムネイル画像</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="clearfix">
                            <div class="">
                                {% if caliculam_data |length > 0 %}
                                <img src="/uploads/caliculam/{{caliculam_data['caliculam_image']}}" class="" width="100">
                                {% else %}
                                <img src="/uploads/caliculam/no_image.png" class="" width="100">
                                {% endif %}
                            </div>
                            <div class="clearfix">
                                <input type="file" name="caliculam_image" class="uploader" id="upload_profile_image">
                                <p>※ 画像は2MB以内で<br>拡張子がjpeg(jpg)かpngの画像をご使用ください。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /サムネイル画像 -->
                <!-- タイトル -->
                <div class="row input-area">
                    <div class="col-sm-4">
                        <label for="">タイトル</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="" style="margin-bottom: 15px;">
                            <input type="text" name="caliculam_title" value="{{caliculam_data['caliculam_title']}}">
                        </div>
                    </div>
                </div>
                <!-- /タイトル -->
                <!-- 価格 -->
                <div class="row">
                    <div class="col-sm-4">
                        <label for="">価格</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="" style="margin-bottom: 15px;">
                            <input type="text" name="caliculam_price" value="{{caliculam_data['caliculam_price']}}"><span>&nbsp;円</span>
                        </div>
                    </div>
                </div>
                <!-- /価格 -->
                <!-- PR文 -->
                <div class="row input-area">
                    <div class="col-sm-4">
                        <label for="">PR文</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="" style="margin-bottom: 15px;">
                            <input type="text" name="caliculam_pr_text" value="{{caliculam_data['caliculam_pr_text']}}">
                        </div>
                    </div>
                </div>
                <!-- /PR文 -->
                <!-- テキスト -->
                <div class="row">
                    <div class="col-sm-4">
                        <label for="">テキスト</label>
                    </div>
                    <div class="col-sm-8">
                        <textarea name="caliculam_text" id="" cols="70" rows="10">{{caliculam_data["caliculam_text"]}}</textarea>
                    </div>
                </div>
                <!-- /テキスト -->
                <div class="btn-wrapper update">
                    {% if caliculam_data |length > 0 %}
                    <input class="btn btn-green" id="submit" type="submit" value="この情報に更新する">
                    {% else %}
                    <input class="btn btn-green" id="submit" type="submit" value="この情報で登録する">
                    {% endif %}
                </div>
                {% if caliculam_data |length > 0 %}
                <input type="hidden" name="caliculam_id" value="{{caliculam_data.caliculam_id}}">
                {% endif %}
                <input type="hidden" name="_token" value="{{csrf_token}}">
            </form>
            <br>
            <p><a href="/admin/lessen/edit/">レッスンを登録する</a></p>
        </div>
    </div>
</div>
{% endblock %}
