{% extends "/layouts/base.twig" %}
{% block content %}
{% include "/elements/header.twig" %}
{% include "/elements/navigation.twig" %}
<hr>
<h1>管理画面ユーザー詳細</h1>
{% include "/elements/admin_left_column.twig" %}
<hr>
<p><a href="/admin/user/{{account_data['user_id']}}/"><img src="/uploads/profile/{{account_data['user_image']}}" width="100" alt=""></a></p>
<p>ID: {{account_data["user_id"]}}</p>
<p>名前: {{account_data["user_real_name"]}}</p>
<p>表示名: {{account_data["user_name"]}}</p>
<p>メールアドレス: {{account_data["user_email"]}}</p>
<p>生年月日: {{account_data["user_birthday"] |date("Y年m月d日")}}</p>
<p>住所: {{account_data["user_address"]}}</p>
<p>PR文: {{account_data["user_pr_text"] |nl2br}}</p>
<p>登録日: {{account_data["created_at"]}}</p>

<h2>ユーザーグループ</h2>
<form action="/admin/user/confirm" method="POST">
    <div class="row">
        <div class="col-sm-4">
            <lable for="">グループ名</lable>
        </div>
        <div class="col-sm-8">
            <div class="" style="margin-bottom: 15px">
                <select name="user_user_group_id">
                {% for user_group_data in user_group_data_list %}
                {% if user_group_data["user_group_id"] == account_data["user_user_group_id"] %}
                <option value="{{user_group_data['user_group_id']}}" selected>{{user_group_data["user_group_name"]}}</option>
                {% else %}
                <option value="{{user_group_data['user_group_id']}}">{{user_group_data["user_group_name"]}}</option>
                {% endif %}
                {% endfor %}
                {% if account_data["user_user_group_id"] == 0 %}
                <option value="0" selected>なし</option>
                {% else %}
                <option value="0">なし</option>
                {% endif %}
                </select>
            </div>
        </div>
    </div>
    <div class="btn-wrapper update">
        <input class="btn btn-green" id="submit" type="submit" value="この情報に更新する">
    </div>
    <input type="hidden" name="_token" value="{{csrf_token}}">
    <input type="hidden" name="user_id" value="{{account_data['user_id']}}">
</form>
{% endblock %}
